<div class="container-fluid bg-dark">
  <div class="container py-4">
    <h1 class="text-center subtitulos text-light">DESARROLLADORES</h1>
    <div class="row py-5">
      <h2 class="text-center subtitulos text-light">DESARROLLADORES DEL JUEGO</h2>
      <div class="col-3 py-2">
        <img src="/assets/img/victor.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">VICTOR PESO</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
      <div class="col-3 offset-1 py-2">
        <img src="/assets/img/pedro.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">PEDRO ANTONIO</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
      <div class="col-3 offset-1 py-2">
        <img src="/assets/img/azahara.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">AZAHARA MARTINEZ</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
    </div>
    <div class="row py-4">
      <h2 class="text-center subtitulos text-light">DESARROLLADORES WEB</h2>
      <br>
      <div class="col-3 py-2">
        <img src="/assets/img/david.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">DAVID MOYANO</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
      <div class="col-3 offset-1 py-2">
        <img src="/assets/img/marc.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">MARC SABINA</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
      <div class="col-3 offset-1 py-2">
        <img src="/assets/img/jairo.jpg" alt="" class="img-fluid">
        <h6 class="card-title nombres text-center py-1 text-light">JAIRO ALONSO</h6>
        <p class="card-text text-light letra fs-5">
          This is a wider card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>