<div class="container-fluid">
    <div class="row parallax1 position-relative">
      <div class="box position-absolute top-50 start-50 translate-middle bg-dark">
        <div class="form bg-dark">
            <h2 class="nombres fs-4">Register</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span class="nombres">Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span class="nombres">Name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span class="nombres">Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span class="nombres">Password</span>
                <i></i>
            </div>
            <button class="btn btn-secondary loginBtn nombresPequeños text-center px-1" type="submit">Login</button>
          </div>
      </div>
    </div>
  </div>