    <div class="bg-dark">
        <h2 class="subtitulos text-center text-light pt-3 pb-2">PERSONAJES</h2>
        <div id="carouselExampleControls" class="carousel slide align-content-center py-3"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row"> 
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/jett.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/jett/jett_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/jett/jett_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/jett/jett_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/jett/jett_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/cypher.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/cypher/cypher_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/cypher/cypher_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/cypher/cypher_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/cypher/cypher_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/phoenix.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/phoenix/phoenix_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/phoenix/phoenix_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/phoenix/phoenix_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/phoenix/phoenix_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/fade.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2 offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/fade/fade_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/fade/fade_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/iniciador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/fade/fade_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/fade/fade_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/viper.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2 offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/viper/viper_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/viper/viper_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/viper/viper_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/viper/viper_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/brimstone.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/brimstone/brimstone_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/brimstone/brimstone_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/brimstone/brimstone_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/brimstone/brimstone_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/breach.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/breach/breach_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/breach/breach_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/iniciador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/breach/breach_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/breach/breach_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/reyna.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/reyna/reyna_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/reyna/reyna_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/reyna/reyna_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/reyna/reyna_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/omen.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/omen/omen_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/omen/omen_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/omen/omen_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/omen/omen_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/chamber.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/chamber/chamber_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/chamber/chamber_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/chamber/chamber_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/chamber/chamber_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/astra.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/astra/astra_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/astra/astra_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/controlador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/astra/astra_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/astra/astra_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/yoru.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/yoru/yoru_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/yoru/yoru_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/yoru/yoru_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/yoru/yoru_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/raze.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/raze/raze_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/raze/raze_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/raze/raze_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/raze/raze_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/kayo.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability hability" src="/assets/img/habilities/kayo/kayo_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability hability" src="/assets/img/habilities/kayo/kayo_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/iniciador.png"></div>
                                <div class="col-6"><img class="img-fluid hability hability" src="/assets/img/habilities/kayo/kayo_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability hability" src="/assets/img/habilities/kayo/kayo_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/killjoy.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/killjoy/killjoy_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/killjoy/killjoy_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/centinela.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/killjoy/killjoy_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/killjoy/killjoy_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/neon.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/neon/neon_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/neon/neon_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/duelista.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/neon/neon_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/neon/neon_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/sova.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sova/sova_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sova/sova_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/iniciador.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sova/sova_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sova/sova_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-5 col-8 container-fluid align-self-center">
                            <img src="/assets/img/characters/sage.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-5 col-12 py-3 offset-lg-1 offset-md-2  offset-1 container-fluid align-self-center">
                            <div class="row">
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sage/sage_c.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sage/sage_e.png"></div>
                                <div class="col-4 offset-3"><img class="img-fluid hability" src="/assets/img/habilities/roles/centinela.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sage/sage_x.png"></div>
                                <div class="col-6"><img class="img-fluid hability" src="/assets/img/habilities/sage/sage_q.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
